body {
    box-sizing: border-box;
    background-color: rgb(238, 235, 236);
    font-family: sans-serif;
}

#heading {
    font-size: 40px;
    margin: 20px 40px;
    padding: 0px 30px;
}

#filter_details {
    min-height: 580px;
    width: 270px;
    background-color: white;
    margin: 30px 55px;
    border-radius: 10px;
}

#filter {
    font-size: 25px;
    padding-top: 20px;
    padding-left: 25px;
}

#year_filter {
    font-size: 16px;
    text-align: center;
    position: relative;
    bottom: 10px;
}

.clear_filter {
    background-color: rgba(250, 8, 8, 0.5);
    color: white;
    border-radius: 50px;
    width: 110px;
    border: none;
    cursor: pointer;
}

#clear_filter_1 {
    position: relative;
    bottom: 20px;
    left: 80px;
    display: none;
    cursor: pointer;
}

.clear_filter:hover {
    background-color: rgb(255, 0, 0);
}

.hr-line {
    width: 80%;
    position: relative;
    bottom: 20px;
    background-color: rgba(177, 173, 173, 0.3);
    border-width: 1px;
}

#years {
    height: 270px;
    width: 75%;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    left: 30px;
    bottom: 15px;
    grid-gap: 7px 25px;
}

.year-detail {
    border-radius: 5px;
    background-color: rgba(7, 206, 7, 0.5);
    border: none;
    cursor: pointer;
}

#year_2020 {
    position: relative;
    left: 60%;
}

#Launch_success_filter {
    text-align: center;
    font-size: 16px;
    position: relative;
    bottom: 15px;
}

#clear_filter_2 {
    position: relative;
    bottom: 25px;
    left: 80px;
    display: none;
    cursor: pointer;
}

#launch_success_result {
    height: 30px;
    width: 75%;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    left: 30px;
    bottom: 15px;
    grid-gap: 7px 25px;
}

.launch-success-result-detail {
    border-radius: 5px;
    background-color: rgba(7, 206, 7, 0.5);
    border: none;
    cursor: pointer;
}

#Land_success_filter {
    text-align: center;
    font-size: 16px;
    position: relative;
    bottom: 15px;
}

#clear_filter_3 {
    position: relative;
    bottom: 25px;
    left: 80px;
    display: none;
    cursor: pointer;
}

#land_success_result {
    height: 30px;
    width: 75%;
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    left: 30px;
    bottom: 15px;
    grid-gap: 7px 25px;
}

.land-success-result-detail {
    border-radius: 5px;
    background-color: rgba(7, 206, 7, 0.5);
    border: none;
    cursor: pointer;
}

#space_launch_result {
    min-height: 600px;
    max-width: 72%;
    position: relative;
    left: 25%;
    top: -610px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px 40px;
    justify-content: space-evenly;
}

.grid-item {
    box-shadow: 5px 4px 6px white;
    background-color: white;
    border-radius: 5px;
    width: 300px
}

.mission-image {
    height: 200px;
    width: 220px;
    background-size: cover;
    background-color: rgb(207, 206, 207);
    margin: 20px;
    position: relative;
    left: 7%;
}

.mission-name {
    text-align: center;
    position: relative;
    top: -20px;
    color: rgb(46, 15, 221)
}

.list-container {
    list-style-type: none;
    position: relative;
    top: -30px;
}

.list-container li {
    padding: 10px 2px;
}

.mission-detail {
    font-weight: bold;
}

.mission-detail-value {
    font-weight: normal;
    color: rgb(0, 0, 248)
}